*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
 
 body {
    background-color: #000;
  }

  .form-register {
    width: 400px;
    padding: 50px;
    margin-left: 37%;
    margin-top: 90px;
    border-radius: 40px;
    font-family: 'calibri';
    color:  rgb(176, 210, 214);
    box-shadow: -20px 13px 100px rgb(94, 167, 177);
    margin: center;
    text-align: center;
    font-family: 'calibri';
    font-size: 2rem;
  }
  
  .controls {
    width: 100%;
    background: #435a50;
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 16px;
    border: 2px solid #0a2e26;
    font-family: 'calibri';
    font-size: 20px;
    color: white;
    margin: center;
    size: 0vmax;
  }
  
  .form-register p {
    height: -40px;
    text-align: center;
    font-size: 18px;
    line-height: -20px;
  }
  
  .form-register a {
    color: white;
    text-decoration: none;
  }
  
  .form-register a:hover {
    color: white;
    text-decoration: underline;
  }

  .botons{
    width: 95%;
    background: #187e79;
    border: none;
    padding: 12px;
    color:  rgb(176, 210, 214);
    margin: 16px;
    font-size: 16px;
    border:0;
    border-radius: 5px;
  }
  
  